.gitignore.bak
./venv
venv/*
dist/*
build/*
reports/*
*.pyc
.coverage*
.mypy_cache*
.pytest_cache*
__pycache__
*.egg-info
dist
dist/*
.DS_Store
.cursor
.cursor/*
.cursorignore
.claude
.claude/*
.claudeignore
AGENTS.md
non_cursor_AGENTS.md
depdoc/*
*.docx
*.odt
*.dvi
*.aux
*.log
*.out
*.log
*.pdf
*.docx
*.odt
*.dvi
*.aux
*.log
*.out
*.log
*.pdf
*.xlsx
